
RECURSIVE              = YES

FILE_PATTERNS          = *.cs

EXAMPLE_RECURSIVE      = YES

#EXCLUDE                = 

EXCLUDE_SYMLINKS       = YES

QUIET                  = YES

WARN_AS_ERROR          = NO

INLINE_INHERITED_MEMB  = YES

JAVADOC_AUTOBRIEF      = YES

BUILTIN_STL_SUPPORT    = YES

IDL_PROPERTY_SUPPORT   = NO

EXTRACT_ALL            = YES

EXTRACT_STATIC         = YES

SORT_MEMBERS_CTORS_1ST = YES

GENERATE_TODOLIST      = NO

GENERATE_BUGLIST       = NO

GENERATE_TESTLIST      = NO

SEARCH_INCLUDES        = YES

#EXCLUDE_PATTERNS

GENERATE_LATEX         = NO

GRAPHICAL_HIERARCHY    = NO

DIRECTORY_GRAPH        = NO

CLASS_GRAPH            = NO

COLLABORATION_GRAPH    = YES

INCLUDE_GRAPH          = YES

INCLUDED_BY_GRAPH      = NO

DOT_TRANSPARENT        = YES

MACRO_EXPANSION        = YES

EXPAND_ONLY_PREDEF     = YES

HTML_TIMESTAMP         = YES

#STRIP_FROM_INC_PATH

SHOW_USED_FILES        = NO

REFERENCES_LINK_SOURCE = NO

SOURCE_BROWSER         = YES

LAYOUT_FILE            = doxygen/config/DoxygenLayout.xml

#OUTPUT_DIRECTORY












