<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopRules" Description="StyleCop Analyzers" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1303" Action="None" />
    <Rule Id="SA1305" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>